body{
    background-image: linear-gradient(270deg , white, black);
}
div{
    background-image: linear-gradient(270deg , rgb(197, 196, 196), rgb(73, 72, 72));
	text-align:center;
	border:5px solid black;
	border-radius:20%;
	margin-top:170px;
	margin-left:500px;
	margin-right:500px;
}
form{
	padding:30px;
	display:none;
}
label{
	font-size:20px;
}
input{	
	border:2px solid #4a4a4b;
	font-size:20px;
    border-radius: 20px;
}
#username{
	background-image: url("Username icon.png");
	background-repeat:no-repeat;
	background-size:22.75px;	
	background-position:3; 
	}
	#password{
	background-image: url("Password icon.png");
	background-repeat:no-repeat;
	background-size:22.75px;	
	background-position:3; 
	}

#logo{	
	position:fixed;
	left: -60px;
	width: 380px;
	top:0%;
}
#un-icon
{
	position:absolute;
	top:309px;
	left:530px;
}
#ps-icon
{
	position:absolute;
	top:362px;
	left:530px;
}
.rainbow-button {
	width:calc(10vw + 10px);
	height:calc(3vw + 8px);
	background-image: linear-gradient(100deg,gray 5%,silver 50%, white 100% );
   
	display:flex;
   
	align-items:center;
	justify-content:center;
	margin-top: -5px;
				  margin-left:10px;
				  
				  padding:3px;
				  background-color:white;
				  border:2px solid gray;
				  border-radius:25px;
				  font-size:25px;
				  display:inline-block;
	
	
	font-weight:bold;
  }
  .rainbow-button:after {
	
	width:12vw;
	height:3vw;
	display:flex;
	align-items:center;
	justify-content:center;
  }
  .rainbow-button:hover {
	animation:slidebg 3s linear infinite;
  }
  
  @keyframes slidebg {
	to {
	  background-position:20vw;
	}
  }
  .error{
	margin-top: -12px;
	font-size: 16px;
	color:red;
  }